@{
    ViewBag.Title = "Index";
}

<body>
    <span class="home"></span>
    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <h1 class="cover-heading">LeChef.com</h1>
                <p class="lead">Looking for something new? Check out some great recipes!
                <br />
                And if you have any new recipes of your own, publish them through our blog!</p>
                <p class="lead">
                    <a href="/Recipes/Recipes" class="btn btn-lg btn-default">Learn some recipes</a>

                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">

                </div>
            </div>

        </div>

    </div>




</body>